#folders
elpa
backups
irony
auto-save-list
tramp
.python-environments
url
semanticdb
abbrev_defs
games
ensime

#files
eshell/history
eshell/lastdir

*.elc
*~
*.swp
*.dat

private.el
projectile-bookmarks.eld
projectile.cache
recentf
places
network-security.data
bookmarks