[submodule "ujelly-theme"]
	path = etc/themes/nujelly
	url = https://github.com/endoffile78/color-theme-nujelly
[submodule "darkokai"]
	path = etc/themes/darkokai
	url = https://github.com/endoffile78/darkokai
